@model MVC_Stok_Takip.Models.EntitiyFreamwork.Tbl_Musteri
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("MusteriGuncelle", "Müşteri", FormMethod.Post))
{
    <h2>Müşteri Güncelleme  Sayfası </h2>
    <br />
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    <br />
    <label>Müşteri İsimi</label>
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br />
    <label>Müşteri Soyadı</label>
    @Html.TextBoxFor(x => x.soyad, new { @class = "form-control" })
    <br />
    <label>Müşteri Şehri</label>
    @Html.TextBoxFor(x => x.sehir, new { @class = "form-control" })
    <br />
    <label>Müşteri Bakiyesi</label>
    @Html.TextBoxFor(x => x.bakiye, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}

